<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>number</string>
		<key>input</key>
		<string>Team Number, teamnumber</string>
		<key>output</key>
		<string>Team Number</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>name</string>
		<key>input</key>
		<string>Team Name, teamname</string>
		<key>output</key>
		<string>Team Name</string>
		<key>format</key>
		<string>string</string>
	</dict>
	<dict>
		<key>key</key>
		<string>tournaments</string>
		<key>input</key>
		<string>Tournament Name, Tournamentname, tournament</string>
		<key>output</key>
		<string>Tournament</string>
		<key>lucien</key>
		<string></string>
		<key>format</key>
		<string>string</string>
	</dict>
	<dict>
		<key>key</key>
		<string>bumpers</string>
		<key>input</key>
		<string>Bumper Bot</string>
		<key>output</key>
		<string>Bumpers</string>
		<key>lucien</key>
		<string>Bumpers</string>
		<key>dictionary</key>
		<string>triStateDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonMobility</string>
		<key>input</key>
		<string>Auton Mobility</string>
		<key>output</key>
		<string>Auton Mobility</string>
		<key>lucien</key>
		<string>Auton Mobility</string>
		<key>dictionary</key>
		<string>triStateDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonCapacity</string>
		<key>input</key>
		<string>Auton Capacity, Auton Cap, Auton Balls</string>
		<key>output</key>
		<string>Auton Balls</string>
		<key>lucien</key>
		<string>Auton Capacity</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>ballReleaseHeight</string>
		<key>input</key>
		<string>Ball Release Height</string>
		<key>output</key>
		<string>Ball Release Height</string>
		<key>format</key>
		<string>float</string>
	</dict>
	<dict>
		<key>key</key>
		<string>lift</string>
		<key>input</key>
		<string>Lift System</string>
		<key>output</key>
		<string>Lifter</string>
		<key>lucien</key>
		<string>Lifter</string>
		<key>dictionary</key>
		<string>triStateDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cims</string>
		<key>output</key>
		<string>CIMS</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>driveTrainType</string>
		<key>input</key>
		<string>drive train type, drive train, drive, drivetrain type, drive traintype</string>
		<key>output</key>
		<string>Drive Train Type</string>
		<key>dictionary</key>
		<string>driveTypeDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>noodler</string>
		<key>input</key>
		<string>Noodler</string>
		<key>output</key>
		<string>Noodler</string>
		<key>lucien</key>
		<string>Noodler</string>
		<key>dictionary</key>
		<string>triStateDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>visualTracker</string>
		<key>input</key>
		<string>Visual Tracker</string>
		<key>output</key>
		<string>Tracking</string>
		<key>lucien</key>
		<string>Visual Track</string>
		<key>dictionary</key>
		<string>triStateDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>intake</string>
		<key>input</key>
		<string>intaketype, intake type</string>
		<key>output</key>
		<string>Intake</string>
		<key>dictionary</key>
		<string>intakeTypeDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>maxHeight</string>
		<key>input</key>
		<string>max height, maximum height</string>
		<key>output</key>
		<string>Maximum Height</string>
		<key>format</key>
		<string>float</string>
	</dict>
	<dict>
		<key>key</key>
		<string>nwheels</string>
		<key>input</key>
		<string>number of wheels, numberwheels, number wheels</string>
		<key>output</key>
		<string>Number of Wheels</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>shooterType</string>
		<key>input</key>
		<string>Shooter Type</string>
		<key>output</key>
		<string>Shooter Type</string>
		<key>dictionary</key>
		<string>shooterTypeDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>wheelDiameter</string>
		<key>input</key>
		<string>Wheel Diameter</string>
		<key>output</key>
		<string>Wheel Diameter</string>
		<key>format</key>
		<string>float</string>
	</dict>
	<dict>
		<key>key</key>
		<string>spitBot</string>
		<key>input</key>
		<string>Spit Bot, spits, spitter</string>
		<key>output</key>
		<string>Spit Bot</string>
		<key>lucien</key>
		<string>Spits</string>
		<key>dictionary</key>
		<string>quadStateDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>classA</string>
		<key>input</key>
		<string>Class A</string>
		<key>dictionary</key>
		<string>triStateDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>classB</string>
		<key>input</key>
		<string>Class B</string>
		<key>dictionary</key>
		<string>triStateDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>toteStack</string>
		<key>input</key>
		<string>Tote Stack #</string>
		<key>output</key>
		<string>Tote Stack #</string>
		<key>lucien</key>
		<string># of Totes Stacked</string>
		<key>dictionary</key>
		<string>triStateDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>classD</string>
		<key>input</key>
		<string>Class D</string>
		<key>dictionary</key>
		<string>triStateDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>classD</string>
		<key>input</key>
		<string>Class D</string>
		<key>dictionary</key>
		<string>triStateDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>classE</string>
		<key>input</key>
		<string>Class E</string>
		<key>dictionary</key>
		<string>triStateDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>classF</string>
		<key>input</key>
		<string>Class F</string>
		<key>dictionary</key>
		<string>triStateDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>minHeight</string>
		<key>input</key>
		<string>min height, minimum height</string>
		<key>output</key>
		<string>Minimum Height</string>
		<key>format</key>
		<string>float</string>
	</dict>
	<dict>
		<key>key</key>
		<string>notes</string>
		<key>output</key>
		<string>Notes</string>
		<key>format</key>
		<string>string</string>
	</dict>
</array>
</plist>
