<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>name</string>
		<key>input</key>
		<string>Tournament</string>
	</dict>
	<dict>
		<key>key</key>
		<string>code</string>
		<key>input</key>
		<string>Tournament Code, TournamentCode </string>
	</dict>
</array>
</plist>
