<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>clear</string>
		<key>name</key>
		<string>Clear</string>
		<key>table</key>
		<string></string>
		<key>operators</key>
		<string></string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonMobility</string>
		<key>name</key>
		<string>Auton Motion</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>Boolean</string>
	</dict>
	<dict>
		<key>key</key>
		<string>catcher</string>
		<key>name</key>
		<string>Catcher</string>
		<key>table</key>
		<string>TeamData</string>
		<key>operators</key>
		<string>Boolean</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonCapacity</string>
		<key>name</key>
		<string>Auton Cap.</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>hotTracker</string>
		<key>name</key>
		<string>Tracks Hot</string>
		<key>table</key>
		<string>TeamData</string>
		<key>operators</key>
		<string>Boolean</string>
	</dict>
	<dict>
		<key>key</key>
		<string>tunneler</string>
		<key>name</key>
		<string>Tunneler</string>
		<key>table</key>
		<string>TeamData</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>passesCaught</string>
		<key>name</key>
		<string>Pass Caught</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonBlocks</string>
		<key>name</key>
		<string>Auton Blocks</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonHighCold</string>
		<key>name</key>
		<string>High Cold</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonHighHot</string>
		<key>name</key>
		<string>High Hot</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonLowCold</string>
		<key>name</key>
		<string>Low Cold</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonLowHot</string>
		<key>name</key>
		<string>Low Hot</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonMissed</string>
		<key>name</key>
		<string>Auton Missed</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonShotsMade</string>
		<key>name</key>
		<string>Auton Shots</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>defenseBlockRating</string>
		<key>name</key>
		<string>Blocker Rate</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>defenseBullyRating</string>
		<key>name</key>
		<string>Bully Rate</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>driverRating</string>
		<key>name</key>
		<string>Driver Rate</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>floorPickUp</string>
		<key>name</key>
		<string>Floor Intake</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>humanPickUp</string>
		<key>name</key>
		<string>Human Intake</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>robotSpeed</string>
		<key>name</key>
		<string>Speed Rate</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>teleOpBlocks</string>
		<key>name</key>
		<string>TeleOp Blocks</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>teleOpHigh</string>
		<key>name</key>
		<string>TeleOp High</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>teleOpLow</string>
		<key>name</key>
		<string>TeleOp Low</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>teleOpMissed</string>
		<key>name</key>
		<string>TeleOp Missed</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>teleOpShotsMade</string>
		<key>name</key>
		<string>TeleOp Shots</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>totalPasses</string>
		<key>name</key>
		<string>Passes</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>trussThrow</string>
		<key>name</key>
		<string>Truss Toss</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>trussCatch</string>
		<key>name</key>
		<string>Truss Catch</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>assistRating</string>
		<key>name</key>
		<string>Assist Rating</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>intakeRating</string>
		<key>name</key>
		<string>Intake Rating</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
	<dict>
		<key>key</key>
		<string>disruptedShot</string>
		<key>name</key>
		<string>Disrupted Shot</string>
		<key>table</key>
		<string>TeamScore</string>
		<key>operators</key>
		<string>List</string>
	</dict>
</array>
</plist>
