<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>matches</string>
		<key>header</key>
		<string>Matches</string>
		<key>format</key>
		<string>%d</string>
		<key>type</key>
		<string>integer</string>
		<key>location</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>IntakefromHuman</string>
		<key>header</key>
		<string>Inbound %</string>
		<key>format</key>
		<string>%.1f</string>
		<key>type</key>
		<string>float</string>
		<key>location</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>HighHot</string>
		<key>header</key>
		<string>Auton High %</string>
		<key>format</key>
		<string>%.1f</string>
		<key>type</key>
		<string>float</string>
		<key>location</key>
		<integer>250</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>High</string>
		<key>header</key>
		<string>High Goal %</string>
		<key>format</key>
		<string>%.1f</string>
		<key>type</key>
		<string>float</string>
		<key>location</key>
		<integer>370</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>HPTruss</string>
		<key>header</key>
		<string>HP Truss %</string>
		<key>format</key>
		<string>%.1f</string>
		<key>type</key>
		<string>float</string>
		<key>location</key>
		<integer>480</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>knockout</string>
		<key>header</key>
		<string>Knockouts</string>
		<key>format</key>
		<string>%.1f</string>
		<key>type</key>
		<string>float</string>
		<key>location</key>
		<integer>580</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>DriverSkill</string>
		<key>header</key>
		<string>Drive</string>
		<key>format</key>
		<string>%.1f</string>
		<key>type</key>
		<string>float</string>
		<key>location</key>
		<integer>675</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>Speed</string>
		<key>header</key>
		<string>Speed</string>
		<key>format</key>
		<string>%.1f</string>
		<key>type</key>
		<string>float</string>
		<key>location</key>
		<integer>725</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>BullySkill</string>
		<key>header</key>
		<string>Bully</string>
		<key>format</key>
		<string>%.1f</string>
		<key>type</key>
		<string>float</string>
		<key>location</key>
		<integer>790</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>BlockSkill</string>
		<key>header</key>
		<string>Block</string>
		<key>format</key>
		<string>%.1f</string>
		<key>type</key>
		<string>float</string>
		<key>location</key>
		<integer>840</integer>
	</dict>
</array>
</plist>
