<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>matches</string>
		<key>header</key>
		<string>Matches</string>
		<key>format</key>
		<string>%d</string>
		<key>type</key>
		<string>integer</string>
		<key>location</key>
		<integer>80</integer>
		<key>factor</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>toteIntakeLandfill</string>
		<key>header</key>
		<string>Totes Floor</string>
		<key>format</key>
		<string>%.1f</string>
		<key>type</key>
		<string>float</string>
		<key>location</key>
		<integer>155</integer>
		<key>factor</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>toteIntakeHP</string>
		<key>header</key>
		<string>Totes HP</string>
		<key>format</key>
		<string>%.1f</string>
		<key>type</key>
		<string>float</string>
		<key>location</key>
		<integer>255</integer>
		<key>factor</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>totalTotesScored</string>
		<key>header</key>
		<string>Totes Stacked</string>
		<key>format</key>
		<string>%.1f</string>
		<key>type</key>
		<string>float</string>
		<key>location</key>
		<integer>340</integer>
		<key>factor</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>maxToteHeight</string>
		<key>header</key>
		<string>Tote Height</string>
		<key>format</key>
		<string>%.1f</string>
		<key>type</key>
		<string>float</string>
		<key>location</key>
		<integer>470</integer>
		<key>factor</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>stackKnockdowns</string>
		<key>header</key>
		<string>Knockdowns</string>
		<key>format</key>
		<string>%.1f</string>
		<key>type</key>
		<string>float</string>
		<key>location</key>
		<integer>580</integer>
		<key>factor</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>autonCansFromStep</string>
		<key>header</key>
		<string>Step Cans</string>
		<key>format</key>
		<string>%.1f</string>
		<key>type</key>
		<string>float</string>
		<key>location</key>
		<integer>690</integer>
		<key>factor</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>autonCansScored</string>
		<key>header</key>
		<string>Can Set</string>
		<key>format</key>
		<string>%.1f</string>
		<key>type</key>
		<string>float</string>
		<key>location</key>
		<integer>800</integer>
		<key>factor</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>driverRating</string>
		<key>header</key>
		<string>Driver</string>
		<key>format</key>
		<string>%.1f</string>
		<key>type</key>
		<string>float</string>
		<key>location</key>
		<integer>890</integer>
		<key>factor</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
