<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Type of Bane</key>
	<integer>-1</integer>
	<key>Can Dom</key>
	<integer>0</integer>
	<key>Ramp</key>
	<integer>1</integer>
	<key>Tote Pick Up</key>
	<integer>2</integer>
</dict>
</plist>
