<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>matchNumber</string>
		<key>header</key>
		<string>Match #</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonRobotSet</string>
		<key>header</key>
		<string>Robot Set</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonToteSet</string>
		<key>header</key>
		<string>Tote Set</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonCansScored</string>
		<key>header</key>
		<string>Can Set</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonToteStack</string>
		<key>header</key>
		<string>Stack Set</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coop10</string>
		<key>header</key>
		<string>Co-Op 1/0</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coop20</string>
		<key>header</key>
		<string>Co-Op 2/0</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coop30</string>
		<key>header</key>
		<string>Co-Op 3/0</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coop31</string>
		<key>header</key>
		<string>Co-Op 3/1</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coop13</string>
		<key>header</key>
		<string>Co-Op 1/3</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coop22</string>
		<key>header</key>
		<string>Co-Op 2/2</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonCansScored</string>
		<key>header</key>
		<string>Cans From Step A</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cansFromStep</string>
		<key>header</key>
		<string>Cans From Step T</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>toteIntakeHP</string>
		<key>header</key>
		<string>HP Tote</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>toteIntakeLandfill</string>
		<key>header</key>
		<string>Floor Tote Intake</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>canIntakeFloor</string>
		<key>header</key>
		<string>Floor Can Intake</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>stackKnockdowns</string>
		<key>header</key>
		<string>Knockdowns</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>driverRating</string>
		<key>header</key>
		<string>Driver</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>totesOn0</string>
		<key>header</key>
		<string>Totes 0</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>totesOn1</string>
		<key>header</key>
		<string>Totes 1</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>totesOn2</string>
		<key>header</key>
		<string>Totes 2</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>totesOn3</string>
		<key>header</key>
		<string>Totes 3</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>totesOn4</string>
		<key>header</key>
		<string>Totes 4</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>totesOn5</string>
		<key>header</key>
		<string>Totes 5</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>totesOn6</string>
		<key>header</key>
		<string>Totes 6</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cansOn0</string>
		<key>header</key>
		<string>Can 0</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cansOn1</string>
		<key>header</key>
		<string>Can 1</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cansOn2</string>
		<key>header</key>
		<string>Can 2</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cansOn3</string>
		<key>header</key>
		<string>Can 3</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cansOn4</string>
		<key>header</key>
		<string>Can 4</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cansOn5</string>
		<key>header</key>
		<string>Can 5</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cansOn6</string>
		<key>header</key>
		<string>Can 6</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>totalTotesScored</string>
		<key>header</key>
		<string>Totes Stacked</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>maxCanHeight</string>
		<key>header</key>
		<string>Max Can Level</string>
		<key>format</key>
		<string>integer</string>
	</dict>
</array>
</plist>
