<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>matchNumber</string>
		<key>header</key>
		<string>Match #</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonCansScored</string>
		<key>header</key>
		<string>Can Set</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonToteStack</string>
		<key>header</key>
		<string>Stack Set</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>stack</string>
		<key>header</key>
		<string>Stack1</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>stack</string>
		<key>header</key>
		<string>Stack2</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>stack</string>
		<key>header</key>
		<string>Stack3</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>stack</string>
		<key>header</key>
		<string>Stack4</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>stack</string>
		<key>header</key>
		<string>Stack5</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>stack</string>
		<key>header</key>
		<string>Stack6</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>can</string>
		<key>header</key>
		<string>Can1</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>can</string>
		<key>header</key>
		<string>Can2</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>can</string>
		<key>header</key>
		<string>Can3</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>can</string>
		<key>header</key>
		<string>Can4</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>can</string>
		<key>header</key>
		<string>Can5</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>can</string>
		<key>header</key>
		<string>Can6</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cap</string>
		<key>header</key>
		<string>Cap1</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cap</string>
		<key>header</key>
		<string>Cap2</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cap</string>
		<key>header</key>
		<string>Cap3</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cap</string>
		<key>header</key>
		<string>Cap4</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cap</string>
		<key>header</key>
		<string>Cap5</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cap</string>
		<key>header</key>
		<string>Cap6</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>totalTotesScored</string>
		<key>header</key>
		<string>Totes Stacked</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>maxCanHeight</string>
		<key>header</key>
		<string>Max Can Level</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>blank</string>
		<key>header</key>
		<string>In Hole Ave</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>blank</string>
		<key>header</key>
		<string>Away Ave</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonRobotSet</string>
		<key>header</key>
		<string>Robot Set</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonToteSet</string>
		<key>header</key>
		<string>Tote Set</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coop10</string>
		<key>header</key>
		<string>Co-Op 1/0</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coop20</string>
		<key>header</key>
		<string>Co-Op 2/0</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coop30</string>
		<key>header</key>
		<string>Co-Op 3/0</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coop31</string>
		<key>header</key>
		<string>Co-Op 3/1</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coop13</string>
		<key>header</key>
		<string>Co-Op 1/3</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coop22</string>
		<key>header</key>
		<string>Co-Op 2/2</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>autonCansScored</string>
		<key>header</key>
		<string>Can Step Auto Tot</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cansFromStep</string>
		<key>header</key>
		<string>Can Step Tele Tot</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>toteIntakeHP</string>
		<key>header</key>
		<string>HP Tote Tot </string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>toteIntakeLandfill</string>
		<key>header</key>
		<string>Floor Intake Tot</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>canIntakeFloor</string>
		<key>header</key>
		<string>Floor Can Intake Tot </string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>stackKnockdowns</string>
		<key>header</key>
		<string>Knockdowns Tot</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>driverRating</string>
		<key>header</key>
		<string>Driver</string>
		<key>format</key>
		<string>integer</string>
	</dict>
</array>
</plist>
