<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Enter Name</key>
	<integer>-1</integer>
    <key>Alex Canizal-Dominguez</key>
	<integer>0</integer>
    <key>Alex Su</key>
	<integer>1</integer>
    <key>Amanda Lu</key>
	<integer>2</integer>
    <key>Annlyn Chiles</key>
	<integer>3</integer>
    <key>Austin Buckner</key>
	<integer>4</integer>
    <key>Brandon Matthijetz</key>
	<integer>5</integer>
    <key>Buvanesh Saravanan</key>
	<integer>6</integer>
    <key>Carson Graf</key>
	<integer>7</integer>
    <key>Chamikera Dharmawardene</key>
	<integer>8</integer>
    <key> Chris Pulicken</key>
	<integer>9</integer>
    <key>Chris Tomkies</key>
	<integer>10</integer>
    <key>Christine Ryan</key>
	<integer>11</integer>
    <key>Danielle Pettinger</key>
	<integer>12</integer>
    <key>Devin Powell</key>
	<integer>13</integer>
    <key>Devinda Dharmawardene</key>
	<integer>14</integer>
    <key>Elena Michnovicz</key>
	<integer>15</integer>
    <key>Emily Fernald</key>
	<integer>16</integer>
    <key>Eric Chen</key>
	<integer>17</integer>
    <key>Erica Lee</key>
	<integer>18</integer>
    <key>Ethan Reed</key>
	<integer>19</integer>
    <key>Ethan Sizelove</key>
	<integer>20</integer>
    <key>Gavin Mayfield</key>
	<integer>21</integer>
    <key>Haley Crews</key>
	<integer>22</integer>
    <key>Hunter Smith</key>
	<integer>23</integer>
    <key>James Trapp</key>
	<integer>24</integer>
    <key>Jessa Westheimer</key>
	<integer>25</integer>
    <key>Joseph Foster</key>
	<integer>26</integer>
    <key>Josh Brannon</key>
	<integer>27</integer>
    <key>Katie Brief</key>
	<integer>28</integer>
    <key>Kevin Jiang</key>
	<integer>29</integer>
    <key>Kyle Anderson</key>
	<integer>30</integer>
    <key>Marcus Isnard</key>
	<integer>31</integer>
    <key>Megan Perry</key>
	<integer>32</integer>
    <key>Mekiah Hickman</key>
	<integer>33</integer>
    <key>Mila Wetz</key>
	<integer>34</integer>
    <key>Mitch Gaines</key>
	<integer>35</integer>
    <key>Nathan Buchanan</key>
	<integer>36</integer>
    <key>Nathan Moore</key>
	<integer>37</integer>
    <key>Nick Fernald</key>
	<integer>38</integer>
    <key>Nuriel Canizal</key>
	<integer>39</integer>
    <key>Robert Fernandez</key>
	<integer>40</integer>
    <key>Romil Patil</key>
	<integer>41</integer>
    <key>Santosh Balachandra</key>
	<integer>42</integer>
    <key>Stephen Hester</key>
	<integer>43</integer>
    <key>Sylas Anderson</key>
	<integer>44</integer>
    <key>Willem Van Borssum</key>
	<integer>45</integer>
    <key>Wittiker Schlauch</key>
	<integer>46</integer>
    <key>Zane Hickman</key>
	<integer>47</integer>
</dict>
</plist>
