<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>number</string>
		<key>input</key>
		<string>Team Number, teamnumber</string>
		<key>output</key>
		<string>Team Number</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>name</string>
		<key>input</key>
		<string>Team Name, teamname</string>
		<key>output</key>
		<string>Team Name</string>
		<key>format</key>
		<string>string</string>
	</dict>
	<dict>
		<key>key</key>
		<string>tournaments</string>
		<key>input</key>
		<string>Tournament Name, Tournamentname, tournament</string>
		<key>output</key>
		<string>Tournament</string>
		<key>lucien</key>
		<string></string>
		<key>format</key>
		<string>string</string>
	</dict>
	<dict>
		<key>key</key>
		<string>toteIntake</string>
		<key>input</key>
		<string>Tote Intake, Tote Intake Type</string>
		<key>output</key>
		<string>Tote Intake</string>
		<key>dictionary</key>
		<string>toteIntakeTypeDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>canIntake</string>
		<key>input</key>
		<string>Can Intake, Can Intake Type</string>
		<key>output</key>
		<string>Can Intake</string>
		<key>dictionary</key>
		<string>canIntakeTypeDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>liftType</string>
		<key>input</key>
		<string>Lift System</string>
		<key>output</key>
		<string>Lifter</string>
		<key>lucien</key>
		<string>Lifter</string>
		<key>dictionary</key>
		<string>liftTypeDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>maxHeight</string>
		<key>input</key>
		<string>max height, maximum height</string>
		<key>output</key>
		<string>Maximum Height</string>
		<key>format</key>
		<string>float</string>
	</dict>
	<dict>
		<key>key</key>
		<string>maxToteStack</string>
		<key>input</key>
		<string>Tote Stack #</string>
		<key>output</key>
		<string>Max Tote Stack</string>
		<key>lucien</key>
		<string># of Totes Stacked</string>
		<key>dictionary</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>stackMechanism</string>
		<key>input</key>
		<string>Stacking, Stacker</string>
		<key>output</key>
		<string>Stacking Mechanism</string>
		<key>lucien</key>
		<string>Stacking Mech</string>
		<key>dictionary</key>
		<string>stackingMechDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>maxCanHeight</string>
		<key>input</key>
		<string>Max Can Height</string>
		<key>output</key>
		<string>Max Can Height</string>
		<key>lucien</key>
		<string>Max Can Height</string>
		<key>dictionary</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>nwheels</string>
		<key>input</key>
		<string>number of wheels, numberwheels, number wheels</string>
		<key>output</key>
		<string>Number of Wheels</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>wheelType</string>
		<key>input</key>
		<string>Wheel Type</string>
		<key>output</key>
		<string>Wheel Type</string>
		<key>format</key>
		<string>float</string>
	</dict>
	<dict>
		<key>key</key>
		<string>wheelDiameter</string>
		<key>input</key>
		<string>Wheel Diameter</string>
		<key>output</key>
		<string>Wheel Diameter</string>
		<key>format</key>
		<string>float</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cims</string>
		<key>output</key>
		<string>CIMS</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>driveTrainType</string>
		<key>input</key>
		<string>drive train type, drive train, drive, drivetrain type, drive traintype, drive type</string>
		<key>output</key>
		<string>Drive Type</string>
		<key>dictionary</key>
		<string>driveTypeDictionary</string>
	</dict>
	<dict>
		<key>key</key>
		<string>weight</string>
		<key>input</key>
		<string>Weight</string>
		<key>output</key>
		<string>Weight</string>
		<key>lucien</key>
		<string>Weight</string>
		<key>format</key>
		<string>float</string>
	</dict>
	<dict>
		<key>key</key>
		<string>length</string>
		<key>input</key>
		<string>Length</string>
		<key>output</key>
		<string>Length</string>
		<key>lucien</key>
		<string>Length</string>
		<key>format</key>
		<string>float</string>
	</dict>
	<dict>
		<key>key</key>
		<string>width</string>
		<key>input</key>
		<string>Width</string>
		<key>output</key>
		<string>Width</string>
		<key>lucien</key>
		<string>Width</string>
		<key>format</key>
		<string>float</string>
	</dict>
	<dict>
		<key>key</key>
		<string>projectBane</string>
		<key>input</key>
		<string>Bane</string>
		<key>output</key>
		<string>Bane</string>
		<key>lucien</key>
		<string>Bane</string>
		<key>format</key>
		<string>boolean</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coverAverageScore</string>
		<key>input</key>
		<string>AverageScore, Average Score</string>
		<key>output</key>
		<string>Average Score</string>
		<key>lucien</key>
		<string>Ave Score</string>
		<key>format</key>
		<string>float</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coverOPR</string>
		<key>input</key>
		<string>OPR, Overall OPR</string>
		<key>output</key>
		<string>Overall OPR</string>
		<key>lucien</key>
		<string>OPR</string>
		<key>format</key>
		<string>float</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coverCCWM</string>
		<key>input</key>
		<string>CCWM, Overall CCWM</string>
		<key>output</key>
		<string>Overall CCWM</string>
		<key>lucien</key>
		<string>CCWM</string>
		<key>format</key>
		<string>float</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coverCanDomCans</string>
		<key>input</key>
		<string>Cover Sheet Cans</string>
		<key>format</key>
		<string>integer</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coverCanDomTime</string>
		<key>input</key>
		<string>Cover Sheet Can Dom Time</string>
		<key>format</key>
		<string>float</string>
	</dict>
	<dict>
		<key>key</key>
		<string>coverNotes</string>
		<key>input</key>
		<string>Cover Sheet Notes</string>
		<key>format</key>
		<string>string</string>
	</dict>
	<dict>
		<key>key</key>
		<string>notes</string>
		<key>output</key>
		<string>Notes</string>
		<key>format</key>
		<string>string</string>
	</dict>
</array>
</plist>
