<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Unknown</key>
	<integer>-1</integer>
	<key>None</key>
	<integer>0</integer>
	<key>Other</key>
	<integer>1</integer>
	<key>Roller</key>
	<integer>2</integer>
	<key>Crane</key>
	<integer>3</integer>
	<key>Grabber</key>
	<integer>4</integer>
	<key>Fork-Lift</key>
	<integer>5</integer>
	<key>Claw</key>
	<integer>6</integer>
	<key>Everybot</key>
	<integer>7</integer>
	<key>118</key>
	<integer>8</integer>
</dict>
</plist>
